*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex; 
    background-color: rgb(243, 243, 243);
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: rgb(9, 28, 44);
}
ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
a{
    text-decoration: none;
    color: white; 
}
.logo{
    color: white;
    font-size:24px;
    font-weight: 900;
}
.container_1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 300px;
    background-color: rgb(9, 28, 44);
   
}
.placeholder_img{
    background-color: rgb(124, 124, 124);
    width: 400px;
    height: 150px;
    margin: auto;
} 
.container_1 .info{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 40px;
    color: white;
    width: 350px;
    
    
}
.container_1 .info .info1{
    font-size: 48px;
    font-weight: bolder;
    padding: 8px;

}
.container_1 .info .info2{
    padding: 8px;
    
}
.container_1 .info .sign_up{
    padding: 8px;
    margin-left: 8px;
    width: 100px;
    border-radius: 8px;
}
.container2{
    display: flex;
    flex-direction: column;
    height: 300px;
    
}
.container2 .info{
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 20px;
    font-weight: 600;
}
.container2 .cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card1{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column; 
}
.card{
    width: 190px;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
}
.container3{
    display: flex;
    flex-direction: column;
    background-color: rgb(174, 174, 175);
    height: 250px;
    align-items: center;
}
.container3 .info1{
    font-size: 36px;
    font-style: italic;
    width: 700px;
    margin-top: 35px;
    color: rgb(95, 95, 95);
   
}
.container3 .info2{
    font-size: 22px;
    font-weight: 800;
    align-self: flex-end;
    margin-right: 330px;
}
.footer{
    display: flex;
    background-color: rgba(69, 141, 236, 0.753);
    margin-left: 100px;
    margin-right: 100px;
     margin-top: 10px;
    align-items: center;
    gap: 350px;
   
    }
    .footer .info{
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 100px;    
    }
    .footer .info .info1{
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
    .footer .info .info2{
        color: white;
    }
.footer .sign_up{
width: 100px;
height: 40px;
padding: 8px;
font-size: 20px;
background-color: rgba(69, 141, 236, 0.753);
color: white;
}

.last_box{
    background-color: rgb(9, 28, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.last_box .info{
    color: white;
}



